a{
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

.bg {
  width: 100%;
  height: 100vh;
  text-align: center;
  white-space: normal;
  justify-content: center;
  align-items: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, rgb(255, 0, 221) 0%, rgb(146, 10, 114) 25%, rgb(0, 255, 234) 51%, #ff357f 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
          animation: AnimateBG 20s ease infinite;
}
@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
